.home-card {
    background-color: rgba(255, 248, 199, 0.1);
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
}

.quickinfo-card {
    color: white;
    
}

.monthly-expense-item {
    color: white;
    
}


.quickinfo-highlighted {
    display: flex;
    flex-direction: row;
}

.quickinfo-info-container {
    margin: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.primary-value {
    font-size: 32px;
}
.primary-value-text{
    font-size: 16px;
}
.secondary-value {
    font-size: 16px;
    margin: 5px;
    color: rgba(120, 120, 120);
    display: inline
}

.setting-cog {
    scale: 200%;
}

.bar {
    background-color: rgba(240, 248, 255, 0.438);
    height: 100px;
    width: 100%;
}
.bar-svg {
    width: 100%;
    scale: 90%;
}
.card-head {
    height: 50px;
    margin: 20px;
    padding-top: 20px;
}
.purchases-expense-card {
    display: flex;
    justify-content: space-between;
}
.home-card-heading {
    font-size: 32px;
}
.home-card-icon {
    padding-top: 7px;
    scale: 150%;
}
.expense-item {
    margin-left: 30px;
}
.single-expense-item {
    display: flex;
    justify-content: space-between;
    
}
.single-expense-container {
    display: flex;
}
.single-expense-primary-value {
    font-size: 24px;
}
.single-expense-secondary-value {
    font-size: 16px;
    margin-left: 10px;
    margin: 8px;
    color: rgba(120, 120, 120);
    display: inline
}
.expenses-edit {
    display: flex;
    justify-content: right;
  
    margin: 20px;
}

.monthly-expense-item {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-left: 30px;
   
}
.expense-item-delete {
    margin-right: 20px;
}
/* 


.quickinfo-info-container {
    font-family: 'Inter', sans-serif;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.quickinfo-container {
    display: flex;
    flex-direction: row;
}
.quickinfo.highlighted {
    display: flex;
    flex-direction: column;
}

*/